<div>
	<div class="col-md-4">
	</div>
	<div ng-hide="vm.loggedInUser" class="well container pageWell col-md-4">
		<img class="homePhoto" src="http://i.imgur.com/kuY6znv.png" /><br><br>
		<p>Want a broken down, inexpensive way to upload photos instead of the better Flickr™? Then welcome to Fakr™!</p><br><br>
		<button class="btn-primary btn btn-md" ui-sref="Register">Register</button>
		<button class="btn-primary btn btn-md" ui-sref="Login">Login</button>
	</div>
	<div class="col-md-4">
	</div>
	<!-- when logged in-->
	<div ng-show="vm.loggedInUser">

		<input type="search" ng-model="search" placeholder="Search..."/>
		<div ng-repeat="vm in vm.user">
			{{vm.user.username}}
		</div>
	</div>
</div>