body {
	/*overflow-y:auto !important;*/
	font-family: 'Open Sans Condensed', sans-serif;
	background: fixed no-repeat linear-gradient(#b9fe7d, #36729e); /* Standard syntax */
	text-align: center;
}

/* Enter Screen */

.homePhoto {
	height: 100px;
}

.pageWell {
	margin-top: 100px;
}

/* Navbar */
.navLogo {
	height: 25px;
}

/* Comments */
.break {
	word-wrap: break-word;
	word-break: break-word;
	height: 80px;
}


/* Pictures */
.repeatPicture {
	height: 100px;
}
/* Portrait and Landscape */
@media only screen and (max-width: 960px) {

	.mobileNavMenu, .mobileTitle {
		display: inline;
	}

	/*.mobileNavMenu a, .mobileTitle a {
		margin-top: 30px;
		}*/

		.mobileTitle {
			margin-top: 1.3em;
			margin-left: 70%;
			font-size: 2em;
		}

		.loggedInNav, .title {
			display: none;
		}

		.well {
			height: 80%;
			width: 80%;
		}

		.well img {
			height: 100px;
			width: 100px;
		}

		.dropdownLink li {
			background-color: red;
		}

	}



